body[class^="acquia-cms-environment-"] .gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment {
  border-radius: var(--gin-border-s);
  color: #FFF;
}

body[class^="acquia-cms-environment-"] .gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab a.toolbar-icon-environment::before {
  background-color: #FFF;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-local,
.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-ide {
  background-color: #1078c2;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-local:focus,
.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-ide:focus,
.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-local:hover,
.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-ide:hover {
  background: #1078c2;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-dev {
  background-color: #498414;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-dev:focus,
.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-dev:hover {
  background: #498414;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-stage {
  background-color: #feb32b;
  color: #000000;
  background-color: #000;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-stage:focus,
.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-stage:hover {
  background: #feb32b;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-prod {
  background-color: #cd3a3d;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-prod:focus,
.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment.environment-prod:hover {
  background: #cd3a3d;
}

.gin-secondary-toolbar .toolbar .toolbar-bar .toolbar-tab>a.acquia-active-subscription {
  max-width: 155px;
  min-width: 110px;
  white-space: pre-wrap;
  font-size: 11px;
  line-height: 1.2;
}

.gin-secondary-toolbar .toolbar.toolbar-secondary .toolbar-bar .toolbar-tab>.acquia-active-subscription:before {
  -webkit-mask-image: url(../images/check.svg);
  mask-image: url(../images/check.svg);
  background-color: #73b355;
}

.gin-secondary-toolbar .toolbar.toolbar-secondary .toolbar-bar .toolbar-tab>.acquia-inactive-subscription:before {
  -webkit-mask-image: url(../images/error.svg);
  mask-image: url(../images/error.svg);
  background-color: #e32700;
}

.gin-secondary-toolbar .toolbar.toolbar-secondary .toolbar-bar .toolbar-tab>.toolbar-icon-moderation-sidebar:before {
  /* Reference code to use the Moderation Sidebar icon, if desired.
  -webkit-mask-image: url(/modules/contrib/moderation_sidebar/images/icon.svg);
  mask-image: url(/modules/contrib/moderation_sidebar/images/icon.svg); */
  -webkit-mask-image: url(/themes/contrib/gin/dist/media/sprite.svg#prev-view);
  mask-image: url(/themes/contrib/gin/dist/media/sprite.svg#prev-view);
}

.gin-secondary-toolbar .toolbar.toolbar-secondary .toolbar-bar .toolbar-tab>.toolbar-icon-moderation-sidebar.sidebar-open:before {
  -webkit-mask-image: url(/themes/contrib/gin/dist/media/sprite.svg#next-view);
  mask-image: url(/themes/contrib/gin/dist/media/sprite.svg#next-view);
}

.gin-secondary-toolbar .toolbar.toolbar-secondary .toolbar-bar .toolbar-tab>.toolbar-icon-moderation-sidebar {
  border-radius: var(--gin-border-s);
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-admin-access-control:before {
  -webkit-mask-image: url(../images/toolbar.svg);
  mask-image: url(../images/toolbar.svg);
}
